.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px 5px;
  gap: 5px;
  border-bottom: 1px solid #000000;
  font-size: 0.8rem;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      letter-spacing: 1px;
      font-weight: 700;
    }

    input,
    select {
      box-sizing: border-box;
      background: #ffffff;
      border: 1px solid #000000;
      border-radius: 5px;
      font-weight: 400;
      text-align: center;
    }

    .dep-options {
      text-transform: capitalize;
    }
  }
}


.kpi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  height: 100%;
  padding: 0 5px 5px;

  .kpi-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding-top: 10px;

    .kpi-card {
      width: 48%;
      border-radius: 10px;
      padding: 5px 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 10px;
      color: #fff;
      background-color: #212121;
      background-color: var(--azul-safra);
      box-shadow: 0 0 2px 1px #000;

      &-title {
        font-size: .9rem;
        text-shadow: 3px 3px #000;
        border-bottom: 2px solid #fff;
        border-radius: 10px;
        padding-bottom: 5px;
        // width: 90%;
      }

      &-number {
        font-size: 1rem;
        font-weight: 500;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        background-color: #fff;
        box-shadow: 0 0 1px 3px #000;
        color: #000;
      }

      &-description {
        letter-spacing: .5px;
        font-size: .8rem;

        .stats {
          font-weight: 1000;
          font-size: .9rem;
        }
      }

    }

  }

  .canvas-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-self: flex-end;
    box-shadow: 0 0 2px 0px #000;
    background-color: #212121;
    background-color: #ededed;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    p {
      text-align: center;
      padding: 0 10px;
      border-bottom: 2px solid #000;
      font-weight: 700;
      width: 85%;
      letter-spacing: 1px;
      border-radius: 10px;
    }

    .canvas {
      margin-top: 5px;
      width: 100%;
    }

    .text-centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;
      width: max-content;
    }
  }

}
