<arf-dash-card title="indicadores" titleIcon="assets/icones/kpi_icon.svg" class="arf-dash">
  <!-- Filters -->
  <ul class="filters-container">
    <!-- Departamentos -->
    <li>
      <label>Departamento</label>
      <select (change)="atualizarKPIs()" [(ngModel)]="departamentoSelecionado" class="select">
        <option *ngFor="let depNome of departamentos" [value]="depNome">
          {{depNome.charAt(0).toUpperCase() + depNome.slice(1)}}
        </option>
      </select>
    </li>

    <!-- Date -->
    <li class="date-inicio-container dates">
      <label>Mês:</label>
      <input (change)="verificarData(); atualizarKPIs()" [(ngModel)]="in_mes" type="month">
    </li>
  </ul>

  <!-- KPIs -->
  <section class="kpi-container">
    <div class="kpi-cards-container">
      <div class="kpi-card" *ngFor="let kpi of KPIs">
        <h3 class="kpi-card-title">{{kpi.title}}</h3>
        <p class="kpi-card-label">{{kpi.label}}</p>
        <label></label>
      </div>
    </div>

    <div class="canvas">
      <!-- Chart -->
      <canvas baseChart [data]="chartData" [options]="chartOptions" type="pie">
      </canvas>
    </div>
  </section>
</arf-dash-card>
