table {
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  border-collapse: collapse;

  th,
  td,
  label,
  i {
    cursor: pointer;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 1px 2px;
    letter-spacing: .3px;
  }

  .head-rows {
    background: #1e2044;
    position: sticky;
    top: 0;
    z-index: 999;

    th {
      color: #d4ad68;
    }
  }

  .body-rows:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.5);

    .pin-icon {
      filter: opacity(80%) contrast(200%)
    }
  }


  .body-rows:hover {
    filter: opacity(80%) contrast(200%);
  }

  .body-rows {
    td {
      width: fit-content;
    }
  }

  th div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    min-width: 100%;
    height: 100%;
    column-gap: 5px;
    padding: 2px;

    i {
      font-size: .7rem;
    }

    .dot-icon {
      font-size: .8rem;
    }

  }

}

img {
  width: 20px;
}

.redAlert {
  background-color: red;
  font-weight: 700;
}

.yellowAlert {
  background-color: yellow;
  font-weight: 700;
}

.greenAlert {
  background-color: green;
  font-weight: 700;
}

.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
}

.pin-icon {
  transition: all .5s;
  padding: 7px 5px;
}

.pinned {
  color: #d4ad68;
  rotate: -90deg;
  font-size: larger;
}

.notPinned {
  color: #1e2044;
  rotate: 0deg;
}

.spin-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

@keyframes unpin {
  from {
    rotate: (-90deg);
  }

  to {
    rotate: (0deg);
  }
}

@keyframes pin {
  from {
    rotate: (0deg);
  }

  to {
    rotate: (-90deg);
  }
}
