<table>
  <tr class="head-rows">
    <th (click)="alternarOrdem('iconRef' + i, userFilter)" *ngFor="let userFilter of userFilters; let i = index">
      <div *ngIf="i == 0; else genericFilter">
        <i class="dot-icon fa-solid fa-location-dot"></i>
        <i #filterIcons [ngStyle]="{'display': userFilter == 'Data' ? 'none' : 'block'}" [id]="'iconRef' + i"
          [ngClass]="imgClass"></i>
      </div>
      <ng-template #genericFilter>
        <div>
          <label> {{ userFilter }} </label>
          <i #filterIcons [ngStyle]="{'display': userFilter == 'Data' ? 'none' : 'block'}" [id]="'iconRef' + i"
            [ngClass]="imgClass"></i>
        </div>
      </ng-template>
    </th>
  </tr>
  <tr *ngFor="let userData of userDataFiltered" class="body-rows">
    <td (click)="userData.isPinned = !userData.isPinned; pesquisa()">
      <i class="pin-icon fa-solid fa-thumbtack"
        [ngClass]="{'pinned': userData.isPinned, 'notPinned': !userData.isPinned}">
      </i>
    </td>
    <td>
      {{ userData.id_pc }}
    </td>
    <td>
      {{ userData.id_hdd }}
    </td>
    <td>
      {{ userData.usuario }}
    </td>
    <td>
      {{ userData.departamento }}
    </td>
    <td>
      {{ userData.date }}
    </td>
    <td [ngClass]="gerarStatus(userData.temp_cpu, componentes.cpu.checked)">
      {{ componentes.cpu.checked ? (userData.temp_cpu).toFixed(1) + 'ºC' : 'N/D' }}
    </td>
    <td [ngClass]="gerarStatus(userData.uso_cpu, componentes.cpu.checked)">
      {{ componentes.cpu.checked ? (userData.uso_cpu).toFixed(1) + '%' : 'N/D'}}
    </td>
    <td [ngClass]="gerarStatus(userData.uso_ram, componentes.ram.checked)">
      {{ componentes.ram.checked ? (userData.uso_ram).toFixed(1) + '%' : 'N/D' }}
    </td>
    <td [ngClass]="gerarStatus(userData.uso_hdd, componentes.hdd.checked)">
      {{ componentes.hdd.checked ? (userData.uso_hdd).toFixed(1) + '%' : 'N/D' }}
    </td>
  </tr>

  <p class="text-centered" *ngIf="userDataFiltered.length == 0 && departamentosSelecionados.length != 0">
    Nenhum item encontrado!
  </p>

  <p class="text-centered" *ngIf="departamentosSelecionados.length == 0 && userDataFiltered.length == 0">
    Nenhum departamento selecionado!
  </p>
</table>
