<div class="demo-text-container">
  <h2>Prezamos pela eficiência e modernidade.</h2>
  <p>
    Trabalhamos no <b class="arfas-oversight">Arfas Oversight</b> visando trazer dados úteis que possibilitem ao
    analista conseguir fazer análises precisas sem poluição de tela desnecessária, melhorando sua eficiência no
    trabalho.
    <br>
    Além disso, fornecemos uma interface amigável e intuitiva utilizando ferramentas UX que têm como alvo os
    analistas.
  </p>

</div>

<img src="assets/imagens/noc tela 3.jpg" alt="imagem" />