* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 0.9rem;
}

li {
	list-style-type: none;
}

select,
input {
	width: fit-content;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 50px;
	row-gap: 50px;
}

/* KPI */

.kpi-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid grey;
	padding-bottom: 50px;
	column-gap: 20px;
}

.kpi-container li {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	box-shadow: 0 0 2px -1px #000;
}

/* Dashboards */
.dashboards-container {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	justify-content: center;
	align-items: center;
	width: fit-content;
}

.inputs-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	column-gap: 10px;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}

.inputs-container li {
	display: flex;
	flex-direction: column;
	row-gap: 2px;
	align-items: center;
}

.lista-container {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.lista-container li {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.lista-container li div {
	display: flex;
	justify-content: center;
	column-gap: 5px;
}

.lista-container li div i:nth-last-of-type(2) {
	display: none;
}

.lista-container li ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 3px;
}

.lista-container li ul li {
	cursor: pointer;
}
