/* DESTKOP 1440px */

* {
	--azul-claro: #183153;
	--azul-safra: #1e2044;
	--azul-escuro-safra: #00003c;
	--azul-claro-safra: #c4dbe5;
	--gold-safra: #d4ad68;
	--cinza-safra: #ededed;
	--preto-claro: #212121;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

/* UP-BUTTON */
.up-button-container {
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	color: var(--azul-safra);
	background-color: #fff;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	z-index: 1;
}

.up-button {
	box-shadow: 0 0 5px -1px #000;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.15s;
	font-size: 2.5rem;
	z-index: 2;
}

.up-button:hover {
	font-size: 2.55rem;
	bottom: 26px;
	right: 26px;
}

.up-button:active {
	font-size: 32px;
}

/* Arfas Oversight */

.arfas-oversight {
	color: var(--gold-safra);
	text-shadow: 0.4px 0.4px #000;
}

/* HEADER */
header {
	height: 12vh;
	width: 100%;
	background-color: var(--cinza-safra);
	top: 0;
	left: 0;
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 0 3px -1px #000;
	font-size: 1.2rem;
	column-gap: 10vw;
	z-index: 999;
}

header a {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
	height: 75%;
}

header nav ul {
	display: flex;
	justify-content: space-between;
}

/* left nav */
.left-nav ul {
	column-gap: 5vw;
}

.left-nav a {
	transition: all 0.3s;
	color: #000;
}

.left-nav a:hover {
	color: var(--gold-safra);
	border-bottom: 3px solid var(--gold-safra);
	color: var(--azul-safra);
	border-bottom: 3px solid var(--azul-safra);
	font-weight: 700;
	padding-bottom: 1px;
}

/* right nav */

.right-nav {
	height: 8vh;
	padding: 0 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	cursor: pointer;
	transition: all 0.3s;
	font-weight: 700;
	background-color: var(--gold-safra);
}

.right-nav * {
	color: #000;
	color: var(--azul-safra);
}

.right-nav:hover {
	background: #d4ac68d8;
	box-shadow: 0 0 2px -1px #000;
	text-shadow: 0.25px 0.25px var(--azul-safra);
}

/* BANNER */
.banner-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 87vh;
	width: 100vw;
	border-bottom: 3px solid var(--cinza-safra);
	padding: 0 5vw;
}

.banner-text-container {
	width: 35%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	color: var(--azul-safra);
}

.banner-text-container h1 {
	font-size: 3vw;
}

.banner-text-container p {
	font-size: 1.3vw;
}

.banner-text-container button {
	width: fit-content;
	padding: 12.5px 10px;
	font-size: 1rem;
	letter-spacing: 2px;
	background-color: var(--cinza-safra);
	color: var(--azul-claro);
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid var(--azul-claro);
	box-shadow: 0 5px 0 0 var(--azul-claro);
	box-sizing: content-box;
	border-radius: 10px;
	transition: all 0.1s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-text-container button:hover {
	background-color: #fdfdfd;
}

.banner-text-container button:active {
	box-shadow: none;
	transform: translateY(5px);
}

#banner-img {
	width: 40vw;
	min-width: 480px;
	z-index: -1;
}

/* SOBRE */

.sobre-container {
	background-color: #f0f0f0;
}

.sobre-container ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 50px;
	padding: 50px 1vw 0;
}

.sobre-container li {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
}

.sobre-container li img {
	width: 30%;
	min-width: 330px;
}

.bar {
	border-bottom: 1px solid grey;
	width: 88vw;
	position: absolute;
	bottom: 0;
}

.sobre-text-container {
	width: 32.5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.sobre-text-container h2 {
	font-size: 1.8rem;
}

.sobre-text-container p {
	line-height: 1.3;
}

.sobre-text-container:nth-child(1) {
	text-align: right;
}

/* SERVICES */

.services-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
}

.services-container h2 {
	font-size: 2.2rem;
	margin: 5vw 0 50px;
	align-self: flex-start;
	width: 50%;
	min-width: 280px;
	color: var(--preto-claro);
}

.services-container ul {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 50px;
	height: auto;
}

.services-container li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 22%;
	min-height: 100%;
}

.services-container i {
	font-size: 2rem;
	color: var(--azul-safra);
	/* color: var(--gold-safra); */
}

.services-container h3 {
	color: var(--azul-claro);
	/* color: var(--gold-safra); */
	font-size: 1.3rem;
	padding: 10px 0 5px;
}

/* DEMO */

.demo-container {
	background-color: var(--azul-claro-safra);
	width: 80vw;
	margin: 25px 0 50px;
	border-radius: 10px;
	padding: 50px;
	display: flex;
	justify-content: center;
	column-gap: 50px;
	box-shadow: 0 0 7px -1px #000;
}

.demo-text-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding-top: 50px;
	width: 40%;
}

.demo-text-container h2 {
	text-align: center;
	text-align: left;
	font-size: 1.9rem;
}

.demo-text-container p {
	text-align: left;
	font-size: 0.9rem;
}

.demo-text-container a {
	background-color: var(--cinza-safra);
	color: #000;
	border-radius: 10px;
	padding: 10px;
	width: fit-content;
	height: 3vw;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	border: 3px solid var(--azul-safra);
	box-shadow: 0 5px 0 0 var(--azul-safra);
	box-sizing: content-box;
	transition: all 0.1s;
	display: flex;
	align-items: center;
	min-height: 25px;
}

.demo-text-container a:hover {
	background-color: #fdfdfd;
}

.demo-text-container a:active {
	box-shadow: none;
	transform: translateY(5px);
}

.demo-container img {
	width: 55%;
	box-shadow: -2px 2px 10px -3px #000;
}

/* CONTATO */

.contato-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--preto-claro);
	background-color: #212121e5;
	color: #fff;
	padding: 50px 0;
}

.contato-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 100px;
	row-gap: 10px;
	width: 30%;
}

.contato-text h1 {
	font-size: 2rem;
}

/* formulário */
.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 5px;
	width: 35%;
	align-self: center;
}

.form ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 2.5px;
}

.form li {
	width: 100%;
}

.campos {
	width: 100%;
	min-height: 37px;
	border-radius: 10px;
	border: none;
	padding: 0 10px;
	border: 3px solid #000;
	font-size: 0.8rem;
	display: flex;
	justify-content: flex-start;
	text-align: left;
}

#in_assunto {
	padding-left: 7px;
}

#in_mensagem {
	padding-top: 10px;
	padding-left: 9px;
}

.form p {
	font-size: 0.7rem;
	width: 100%;
	margin-bottom: 10px;
	margin-left: 2px;
	text-align: justify;
}

.form button {
	width: fit-content;
	padding: 8px 30px;
	border-radius: 10px;
	box-shadow: 0 5px 0 0 #000;
	border: 2px solid #000;
	font-size: 1.2rem;
	cursor: pointer;
	transition: all 0.1s;
}

.form button:hover {
	background-color: #d1d1d1;
}

.form button:active {
	box-shadow: none;
	transform: translateY(5px);
}

/* FOOTER */

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.upper-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 20px;
	column-gap: 10px;
	width: 100%;
	padding: 50px 0;
}

.upper-footer li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 10px;
	width: 180px;
}

.upper-footer h3 {
	font-size: 1.3rem;
	padding-bottom: 10px;
	color: var(--azul-safra);
}

.upper-footer p {
	font-size: 0.9rem;
}

/* lower footer */

.lower-footer-container {
	display: flex;
	width: 100%;
	border-top: 2px solid grey;
	padding: 25px 0;
}

.lower-footer-left,
.lower-footer-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 20px;
}

.icons-container {
	font-size: 1.4rem;
}

.lower-footer-right {
	width: fit-content;
}

.lower-footer-left {
	width: 20%;
	min-width: fit-content;
}

.lower-footer-left p {
	font-size: 0.8rem;
}

.lower-footer-right div:first-of-type {
	display: flex;
	flex-wrap: wrap;
	word-wrap: break-word;
	word-break: break-all;
	column-gap: 10px;
}

.lower-footer-right div p {
	border-right: 2px solid grey;
	padding-right: 10px;
	font-size: 0.8rem;
}

.lower-footer-right div p:last-of-type {
	border: none;
}

.lower-footer-right p:first-of-type {
	font-size: 0.8rem;
}
