/* 1024px */
@media screen and (max-width: 1024px) {
	header {
		font-size: 1rem;
		column-gap: 15vw;
	}

	/* BANNER */

	.banner-container {
		height: auto;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 10px;
		padding-left: 10vw;
		padding: 75px;
	}

	.banner-text-container {
		width: 80%;
	}

	.banner-text-container h1 {
		font-size: 2.5rem;
		width: 70%;
	}

	.banner-text-container p {
		font-size: 1rem;
		width: 70%;
		padding-bottom: 30px;
	}

	.banner-text-container button {
		width: fit-content;
		height: 25px;
		font-size: 1rem;
	}

	#banner-img {
		align-self: center;
		width: 70%;
		min-width: 320px;
	}

	/* SOBRE */
	.sobre-container li {
		justify-content: center;
		column-gap: 40px;
	}

	.sobre-text-container {
		width: 45%;
	}

	/* SERVICES */

	.services-container h2 {
		font-size: 1.8rem;
		width: 55%;
	}

	.services-container i {
		font-size: 1.8rem;
	}

	.services-container h3 {
		font-size: 1rem;
	}

	.services-container p {
		font-size: 0.8rem;
	}

	/* DEMO */

	.demo-container {
		padding: 5vw 0 4vw;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 50px;
	}

	.demo-text-container {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
		padding-top: 2vw;
		width: 75%;
	}

	.demo-text-container h2 {
		text-align: center;
		font-size: 1.8rem;
	}

	.demo-text-container p {
		text-align: justify;
		padding-bottom: 20px;
		font-size: 0.85rem;
	}

	.demo-container img {
		width: 70%;
	}

	/* CONTATO */

	.contato-container {
		padding: 50px 0;
	}

	.contato-text {
		width: 40%;
	}

	/* FOOTER */

	.upper-footer {
	}

	.upper-footer h3 {
		font-size: 0.9rem;
	}

	.upper-footer p {
		font-size: 0.75rem;
	}

	.upper-footer li {
		width: 120px;
	}
}

/* 850px */
@media screen and (max-width: 850px) {
	/* CONTATO */
	.contato-text h1 {
		font-size: 1.8rem;
	}

	.contato-text p {
		font-size: 0.8rem;
	}

	/* formulário */
	.form {
		width: 40%;
	}

	.form ul {
		row-gap: 2px;
	}

	.form input {
		width: 100%;
		height: 32px;
		border-radius: 10px;
		border: none;
		padding: 0 10px;
		border: 3px solid #000;
	}

	.form p {
		font-size: 0.5rem;
		text-align: center;
	}

	.form button {
		padding: 7px 15px;
		font-size: 1rem;
		align-self: center;
		width: fit-content;
	}
	/* FOOTER */

	footer {
		width: 80%;
	}

	.upper-footer h3 {
		font-size: 1rem;
	}

	.upper-footer p {
		font-size: 0.8rem;
	}

	/* lower footer */

	.icons-container {
		font-size: 1.2rem;
	}

	.lower-footer-left {
		width: 35%;
	}

	.lower-footer-right {
		margin-left: 0;
	}
}

/* 768px */
@media screen and (max-width: 769px) {
	header {
		justify-content: space-evenly;
		column-gap: 0;
	}

	/* BANNER */

	.banner-container {
		padding: 50px 15px;
	}

	.banner-text-container {
		width: 95%;
	}

	.banner-text-container h1 {
		font-size: 2.2rem;
	}

	.banner-text-container p {
		font-size: 0.95rem;
	}

	#banner-img {
		align-self: center;
		width: 90%;
		min-width: 300px;
		padding-top: 40px;
	}

	/* SOBRE */

	.sobre-container ul {
		padding: 50px 0;
		justify-content: flex-start;
	}

	.sobre-container li {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		height: 100%;
		width: 100%;
	}

	.sobre-container li:nth-of-type(2) {
		flex-direction: column;
	}

	.sobre-text-container {
		margin: 0;
		justify-content: center;
		align-items: center;
		text-align: justify;
	}

	.sobre-text-container:nth-child(1) {
		text-align: justify;
	}

	.sobre-container li img {
		width: 30%;
		min-width: 280px;
	}

	.sobre-text-container h2 {
		text-align: center;
		width: 100vw;
		font-size: 1.5rem;
	}

	.sobre-text-container p {
		width: 60vw;
		font-size: 0.8rem;
	}

	.bar {
		width: 70vw;
	}

	/* SERVICES */

	.services-container h2 {
		width: 80%;
		align-self: center;
		text-align: center;
	}

	.services-container ul {
		row-gap: 25px;
		column-gap: 25px;
		justify-content: center;
	}

	.services-container li {
		width: 45%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.services-container p {
		text-align: center;
	}

	/* DEMO */
	.demo-container {
		width: 90vw;
	}

	.demo-container img {
		width: 80%;
	}

	.demo-text-container p {
		padding-bottom: 0;
	}

	/* CONTATO */

	.contato-container {
		flex-direction: column;
		row-gap: 20px;
		width: 100vw;
	}

	.contato-text {
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
		row-gap: 10px;
		width: 70%;
		text-align: center;
	}

	.contato-text h1 {
		font-size: 2rem;
	}

	.contato-text p {
		font-size: 0.8rem;
	}

	/* formulário */
	.form {
		/* row-gap: 10px; */
		width: 75vw;
		align-items: center;
	}

	.form ul {
		width: 100%;
		align-items: center;
	}

	.form li {
		width: 70%;
	}

	.form input {
		height: 35px;
	}

	.form p {
		font-size: 0.5rem;
		width: 70%;
	}

	.form button {
		width: fit-content;
		height: fit-content;
		font-size: 1rem;
		padding: 10px 20px;
	}

	/* FOOTER */

	.upper-footer h3 {
		font-size: 1rem;
		padding-bottom: 0px;
	}

	.upper-footer p {
		font-size: 0.7rem;
	}

	/* lower footer */

	.icons-container {
		font-size: 1.2rem;
	}

	.lower-footer-left {
		width: 25%;
	}

	.lower-footer-right {
		margin-left: 0;
	}
}

/* 600px */

@media screen and (max-width: 600px) {
	/* BANNER */
	.banner-text-container h1 {
		font-size: 1.8rem;
	}

	.banner-text-container p {
		font-size: 0.8rem;
		padding-bottom: 10px;
	}

	.banner-text-container button {
		font-size: 0.8rem;
		padding: 10;
	}

	/* SOBRE */
	.sobre-text-container {
		width: 90%;
	}

	.sobre-text-container h2 {
	}

	.sobre-text-container p {
		width: 80%;
		padding-bottom: 10px;
	}

	.bar {
		width: 90vw;
	}

	/* DEMO */

	.demo-container {
		padding: 5vw 2vw 4vw;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 50px;
		width: 95vw;
	}

	/* CONTATO */

	.contato-container {
		row-gap: 30px;
	}

	.contato-text {
		row-gap: 15px;
		width: 80%;
	}

	.contato-text h1 {
		font-size: 1.8rem;
	}

	.contato-text p {
		font-size: 0.7rem;
	}

	/* formulário */
	.form {
		/* row-gap: 5px; */
		width: 65vw;
	}

	.form ul {
		align-items: center;
		justify-content: space-evenly;
	}

	.form li {
		width: 100%;
	}

	.form input {
		height: 32px;
	}

	.form p {
		font-size: 0.5rem;
		width: 98%;
	}

	.form button {
		font-size: 1rem;
		padding: 7px 20px;
	}

	/* FOOTER */

	.upper-footer {
		row-gap: 15px;
	}

	.upper-footer h3 {
		font-size: 0.9rem;
	}

	.upper-footer p {
		font-size: 0.65rem;
	}

	/* lower footer */

	.lower-footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	.lower-footer-left,
	.lower-footer-right {
		align-items: center;
	}

	.lower-footer-right div:first-of-type {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		column-gap: 15px;
	}

	/* SERVICES */
	.demo-text-container h2 {
		font-size: 1.7rem;
	}
}

/* 425px */
@media screen and (max-width: 426px) {
	/* UP-BUTTON */
	.up-button-container {
		bottom: 20px;
		right: 20px;
		height: 1.5rem;
		width: 1.5rem;
	}

	.up-button {
		font-size: 1.8rem;
	}

	/* HEADER */
	header {
		justify-content: space-evenly;
		column-gap: 7px;
		font-size: 0.9rem;
	}

	.right-nav {
		width: 46px;
		height: 35px;
	}

	.right-nav a {
		display: none;
	}

	.right-nav i {
		font-size: 5vw;
	}

	/* BANNER */

	.banner-text-container h1,
	.banner-text-container p {
		text-align: center;
		width: 100%;
	}

	.banner-text-container button {
		width: fit-content;
		align-self: center;
		padding: 7px;
	}

	/* SOBRE */

	.sobre-container li img {
		width: 30%;
		min-width: 310px;
	}

	.sobre-text-container h2 {
		font-size: 1.4rem;
		text-align: center;
	}

	/* SERVICES */
	.services-container li {
		width: 100%;
	}

	.services-container h2 {
		font-size: 1.5rem;
		width: 100%;
		margin-top: 40px;
	}

	.services-container i {
		font-size: 1.7rem;
	}

	.services-container h3 {
		font-size: 1rem;
	}

	.services-container p {
		font-size: 0.8rem;
		width: 80%;
	}

	/* DEMO */
	.demo-container {
		row-gap: 20px;
	}

	.demo-container img {
		width: 95%;
	}

	.demo-text-container h2 {
		font-size: 1.3rem;
	}

	.demo-text-container p {
		font-size: 0.8rem;
		width: 80vw;
	}

	/* CONTATO */

	.contato-text {
		row-gap: 15px;
		width: 95%;
	}

	.contato-text h1 {
		font-size: 1.6rem;
	}

	.contato-text p {
		font-size: 0.7rem;
	}

	/* formulário */
	.form {
		/* row-gap: 5px; */
		width: 65vw;
	}

	.form ul {
		align-items: center;
		justify-content: space-evenly;
	}

	.form li {
		width: 100%;
	}

	.form input {
		height: 32px;
	}

	.form p {
		font-size: 0.5rem;
		width: 110%;
	}

	.form button {
		font-size: 1rem;
		padding: 7px 20px;
	}

	/* FOOTER */

	.upper-footer {
		row-gap: 15px;
		column-gap: 15px;
	}

	/* lower footer */

	.lower-footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	.lower-footer-left,
	.lower-footer-right {
		align-items: center;
		text-align: center;
	}

	.lower-footer-right div:first-of-type {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		column-gap: 15px;
	}

	.icons-container {
		font-size: 1.2rem;
	}
}

/* 375px */
@media screen and (max-width: 376px) {
	/* UP-BUTTON */
	.up-button-container {
		height: 1.2rem;
		width: 1.2rem;
	}

	.up-button {
		font-size: 1.6rem;
	}

	/* HEADER */
	header {
		justify-content: space-evenly;
		column-gap: 7px;
		font-size: 0.75rem;
	}

	header img {
		height: 65%;
	}

	header * {
		font-size: 0.85rem;
	}

	.right-nav {
		width: 40px;
		height: 30px;
	}

	.right-nav i {
		font-size: 1.15rem;
	}

	.right-nav a {
		display: none;
	}

	/* DEMO */

	.demo-text-container h2 {
		font-size: 1.3rem;
	}

	.demo-text-container p {
		font-size: 0.75rem;
	}

	.demo-text-container a {
		font-size: 0.8rem;
	}

	/* SOBRE */

	.sobre-text-container h2 {
		font-size: 1.2rem;
	}

	.sobre-text-container p {
		font-size: 0.7rem;
		width: 90%;
		padding: 0;
	}

	.sobre-container li img {
		min-width: 200px;
	}

	/* CONTATO */

	.contato-text h1 {
		font-size: 1.5rem;
	}

	.contato-text p {
		font-size: 0.68rem;
	}

	/* formulário */
	.form ul {
		width: 75vw;
	}

	.form p {
		width: 110%;
		min-width: 250px;
	}

	.form button {
		font-size: 0.8rem;
		padding: 7px 15px;
	}
}

/* 320px */
@media screen and (max-width: 321px) {
	header {
		font-size: 0.75rem;
	}

	/* UP-BUTTON */
	.up-button-container {
		height: 1rem;
		width: 1rem;
	}

	.up-button:hover {
		font-size: 1.6rem;
	}

	.up-button:active {
		font-size: 1.6rem;
	}

	/* BANNER */
	.banner-text-container button {
		font-size: 0.7rem;
	}

	/* DEMO */

	.demo-text-container h2 {
		font-size: 1.2rem;
	}

	/* FOOTER */

	.lower-footer-right div:first-of-type {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		row-gap: 5px;
	}

	.lower-footer-right div p:nth-of-type(even) {
		border-right: none;
	}

	.lower-footer-right div p:last-of-type {
		grid-area: 3/1/3/3;
		border-right: none;
	}

	.lower-footer-container p {
		font-size: 0.7rem !important;
	}
}
