<h2>
  Conheça um pouco dos principais serviços que o <b class="arfas-oversight">Arfas Oversight</b> consegue oferecer
</h2>

<ul>
  <li>
    <i class="fa-solid fa-chart-line"></i>

    <h3>Dashboards e Analytics</h3>

    <p>
      Geração de diversos gráficos mostrando a saúde dos componentes e KPIs úteis que permitem o analista prever
      possíveis falhas.
    </p>
  </li>
  <li>
    <i class="fa-solid fa-triangle-exclamation"></i>

    <h3>Alertas Personalizáveis</h3>

    <p>
      Possibilidade de criar alertas personalizáveis para suprirem as diferentes necessidades dos departamentos.
    </p>
  </li>
  <li>
    <i class="fa-solid fa-filter-circle-dollar"></i>


    <h3>Filtragem de gastos</h3>

    <p>
      Fator para a tomada de decisões de infraestrutura, como a adequação dos equipamentos baseada nas carências de
      cada setor.
    </p>
  </li>
  <li>
    <i class="fa-solid fa-eye"></i>

    <h3>Supervisão dos usuários</h3>

    <p>
      Supervisão das atividades e processos que os usuários dos dispositivos estão utilizando durante o exercício do
      ofício.
    </p>
  </li>
</ul>