// select of checkboxes
.multiselect {
  width: fit-content;
  position: relative;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  position: absolute;
  border: 1px #dadada solid;
  z-index: 999;
  background-color: #fff;
  width: 100%;
}

.checkboxes label {
  display: block;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}

select {
  font-weight: bold;
}

// Component
.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 7px;
  width: 100%;

  li {
    min-width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    select {
      font-weight: 400;
      width: 100%;
    }

    input,
    select {
      text-align: center;
      border-radius: 5px;
      border: 1px solid #000;
      height: 22px;
    }
  }
}
