<ul class="filters-container">
  <!-- Exibição -->
  <li>
    <label>Exibição</label>
    <select #exibicaoSelect (change)="enviarExibicao(exibicaoSelect.value)">
      <option value="listada">Listada</option>
      <option value="grafica">Gráfica</option>
    </select>
  </li>

  <!-- Departamentos (select of checkboxes) -->
  <li>
    <label>Departamento</label>
    <div class="multiselect">
      <div class="selectBox" (click)="toggleSelect()">
        <select>
          <option>Ver Selecionados</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div [ngStyle]="{ display: mostrarCheckboxes ? 'flex' : 'none' }" class="checkboxes-container">
        <div (click)="departamento.checked = !departamento.checked" class="checkbox"
          *ngFor="let departamento of departamentos">
          <input (change)="filtrarDashboard(departamento)" [checked]="departamento.checked" type="checkbox"
            [id]="departamento.nome" />
          <label [for]="departamento.nome">
            {{ departamento.nome }}
          </label>
        </div>
      </div>
    </div>
  </li>

  <!-- Métrica -->
  <li *ngIf="exibicaoSelect.value === 'grafica'">
    <label>Métrica</label>
    <select #metricaSelect (change)="filtrarDashboard('')">
      <option value="uso_relativo">Uso Relativo</option>
      <option value="temperatura">Temperatura</option>
    </select>
  </li>

  <!-- Data -->
  <li *ngIf="exibicaoSelect.value === 'listada'">
    <label>Data</label>
    <input type="date" />
    <!-- <input type="date"> -->
  </li>

  <!-- Pesquisa -->
  <li *ngIf="exibicaoSelect.value === 'listada'">
    <label>Pesquisa</label>
    <input class="pesquisar-input" #pesquisaInput (keydown)="filtrarDashboard('')" type="text" />
  </li>
</ul>
