<ul class="filters-container">
  <!-- Exibição -->
  <li>
    <label>Exibição</label>
    <select [(ngModel)]="exibicao" class="select" #exibicaoSelect (change)="enviarDadosFiltros()">
      <option value="grafica">Gráfica</option>
      <option value="listada">Listada</option>
    </select>
  </li>

  <!-- Departamentos (select of checkboxes) -->
  <li>
    <label>Departamento</label>
    <div class="multiselect">
      <div class="selectBox" (click)="toggleSelect()">
        <select>
          <option>Ver Selecionados</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div [ngStyle]="{ display: mostrarCheckboxes ? 'flex' : 'none' }" class="checkboxes-container">
        <div (click)="filtrarDashboard('chkBoxRef' + componente + i, departamento, componente)" class="checkbox"
          *ngFor="let departamento of departamentos; let i = index">
          <i #checkboxesI class="fa-regular fa-square" [id]="'chkBoxRef' + componente + i"></i>
          <p>
            {{ departamento.nome }}
          </p>
        </div>
      </div>
    </div>
  </li>

  <!-- Métrica -->
  <li *ngIf="exibicaoSelect.value === 'grafica'">
    <label>Métrica</label>
    <select [(ngModel)]="metrica" #metricaSelect (change)="enviarDadosFiltros()">
      <option value="uso_relativo">Uso Relativo</option>
      <option value="temperatura">Temperatura</option>
    </select>
  </li>

  <!-- Data -->
  <li *ngIf="exibicaoSelect.value === 'listada'">
    <label>Data</label>
    <input [(ngModel)]="date" type="date" (change)="enviarDadosFiltros()" />
  </li>

  <!-- Pesquisa -->
  <li *ngIf="exibicaoSelect.value === 'listada'">
    <label>Pesquisa</label>
    <input [(ngModel)]="pesquisa" class="pesquisar-input" #pesquisaInput (keydown)="enviarDadosFiltros()" type="text" />
  </li>
</ul>
