<ul class="filters-container">
  <!-- Exibição -->
  <li>
    <label>Exibição</label>
    <select class="select" #exibicaoSelect (change)="filtrarDashboard()">
      <option value="grafica">Gráfica</option>
      <option value="listada">Listada</option>
    </select>
  </li>

  <!-- Departamentos (select of checkboxes) -->
  <li>
    <label>Departamento</label>
    <div class="multiselect">
      <div class="selectBox" (click)="toggleSelect()">
        <select>
          <option>Ver Selecionados</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div [ngStyle]="{ display: mostrarCheckboxes ? 'flex' : 'none' }" class="checkboxes-container">
        <div (click)="departamento.checked = !departamento.checked; filtrarDashboard()" class="checkbox"
          *ngFor="let departamento of departamentos">
          <i
            [ngClass]="{'fa-solid fa-square-check': departamento.checked, 'fa-regular fa-square': !departamento.checked}"></i>
          <!-- <input (change)="filtrarDashboard()" [checked]="departamento.checked" type="checkbox"
            [id]="departamento.nome" /> -->
          <p>
            {{ departamento.nome }}
          </p>
        </div>
      </div>
    </div>
  </li>

  <!-- Métrica -->
  <li *ngIf="exibicaoSelect.value === 'grafica'">
    <label>Métrica</label>
    <select #metricaSelect (change)="filtrarDashboard()">
      <option value="uso_relativo">Uso Relativo</option>
      <option value="temperatura">Temperatura</option>
    </select>
  </li>

  <!-- Data -->
  <li *ngIf="exibicaoSelect.value === 'listada'">
    <label>Data</label>
    <input type="date" />
    <!-- <input type="date"> -->
  </li>

  <!-- Pesquisa -->
  <li *ngIf="exibicaoSelect.value === 'listada'">
    <label>Pesquisa</label>
    <input class="pesquisar-input" #pesquisaInput (keydown)="filtrarDashboard()" type="text" />
  </li>
</ul>
