// select of checkboxes
.multiselect {
  width: fit-content !important;
  position: relative;

  select {
    width: fit-content !important;
  }
}

.selectBox {
  position: relative;
  display: flex;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes-container {
  position: absolute;
  border: 1px #dadada solid;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  // opacity: 1 !important;
  display: flex;
  flex-direction: column;

  .checkbox {
    display: flex;
    width: 100%;

    &:hover {
      background-color: #d4ad68;
      display: flex;
      align-items: center;
    }

    input {
      width: 10px !important;
      margin-right: 2px !important;
    }
  }
}

select {
  font-weight: bold;
  text-align: center;
}

// Component
.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px 3px;
  gap: 5px;
  height: 33px;
  border-bottom: 1px solid #000000;

  li:nth-of-type(2) {
    width: auto !important;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    width: fit-content;
    height: 26px;

    label {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }

    select,
    input {
      box-sizing: border-box;
      width: 80px;
      height: 14px;
      background: #ffffff;
      border: 1px solid #000000;
      border-radius: 5px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 11px;
    }
  }
}
