// Component
.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px 7px;
  gap: 5px;
  border-bottom: 1px solid #000000;
  font-size: 1rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    select,
    input {
      box-sizing: border-box;
      background: #ffffff;
      border: 1px solid #000000;
      border-radius: 5px;
      font-weight: 400;
      text-align: center;
    }

    .pesquisar-input {
      width: 150px;
    }
  }
}

// select of checkboxes
.multiselect {
  width: fit-content !important;
  position: relative;

  select {
    width: fit-content !important;
  }
}

.selectBox {
  position: relative;
  display: flex;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes-container {
  position: absolute;
  border: 1px #dadada solid;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;

  .checkbox {
    display: flex;
    width: 100%;
    padding: 3px;
    border: 1px solid black;
    border-top: none;
    font-size: 0.85rem;

    &:hover {
      background-color: #d4ad68;
    }

    input {
      width: 15px !important;
      margin-right: 2px !important;
    }
  }
}

select {
  font-weight: bold;
  text-align: center;
}
