.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 100%;
  height: 100%;

  input {
    text-align: center;
  }

  label {
    letter-spacing: 1px;
    font-weight: 700;
  }

  input {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
  }

  .dates {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }
}

#hoje-btn,
.hoje-btn {
  background: rgba(30, 32, 68, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #fff;
  padding: 3px;
  cursor: pointer;
  align-self: flex-end;

  &-on {
    background: #1E2044 !important;
  }
}
