<a href="index.html">
  <img class="logo" src="assets/imagens/logo2.png" alt="LOGO" />
</a>

<nav class="left-nav">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#sobre">Sobre</a></li>
    <li><a href="#services">Serviços</a></li>
  </ul>
</nav>

<button class="right-nav">
  <select name="acessar" id="selectinpt">
    <option value="analytics">Analytics</option>
    <option value="acessos">Acessos</option>
    <option value="infra">Infra</option>
  </select>
  <i class="fa-solid fa-right-to-bracket"></i></button>