<div class="dash-rows um">
    <div class="dash-cards left">
        <label>CPU</label>
            <p>Ideal</p><input type="number"> 
            <p>Atenção</p> <input type="number">
            <p>Crítico </p><input type="number">
    </div>
    <div class="dash-cards">
        <label>DISCO</label>
        <p>Ideal</p><input type="number"> 
        <p>Atenção</p> <input type="number">
        <p>Crítico </p><input type="number">
    </div>
</div>
<div class="dash-rows">
    <div class="dash-cards left">
        <label>RAM</label>
        <p>Ideal</p><input type="number"> 
        <p>Atenção</p> <input type="number">
        <p>Crítico </p><input type="number">
    </div>
    <div class="dash-cards">
        <label>ID Máquina</label>
        <input type="text">
        <button>
            Salvar
        </button>
    </div>
</div>
