<div class="dash-rows um">
    <div class="dash-cards left">
        <label>CPU</label>
        <div class="cpu">
        <div>
            <h4>USO</h4>
                <p>Ideal</p><input type="number">
                <p>Moderado</p> <input type="number">
                <p>Crítico </p><input type="number">
        </div>
        <div>
            <h4>TEMPERATURA</h4>
                <p>Ideal</p><input type="number">
                <p>Moderado</p> <input type="number">
                <p>Crítico </p><input type="number">
        </div>
        </div>
    </div>
    <div class="dash-cards">
        <label>DISCO</label>
        <h4>USO</h4>
        <p>Ideal</p><input type="number"> 
        <p>Moderado</p> <input type="number">
        <p>Crítico </p><input type="number">
    </div>
</div>
<div class="dash-rows">
    <div class="dash-cards left">
        <label>RAM</label>
        <h4>USO</h4>
        <p>Ideal</p><input type="number"> 
        <p>Moderado</p> <input type="number">
        <p>Crítico </p><input type="number">
    </div>
    <div class="dash-cards">
        <label>ID Máquina</label>
        <input type="text">
        <button>
            Salvar
        </button>
    </div>
</div>
