.arf-dashboard-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 12px;
  gap: 10px;
  height: 100%;
  width: 100%;
  border-radius: 10px;

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 74px;
    height: 30px;

    img {
      width: 30px;
      width: 30px;
    }

    label {
      height: 23px;
      width: 40px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 900;
      line-height: 23px;
      text-align: center;
    }
  }

  arf-filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  arf-lista {
    width: 100%;
  }
}
