<arf-dash-card class="arf-dashboard-container">
  <!-- Title -->
  <section class="title-container">
    <img [src]="titleIcon" />
    <label>{{ componente }}</label>
  </section>

  <!-- Filters -->
  <arf-filters [componente]="componente"></arf-filters>


  <!-- Lista -->
  <arf-lista *ngIf="exibicao === 'listada'" [componente]='componente'></arf-lista>

  <!-- Chart -->
  <section *ngIf="exibicao === 'grafica'" class="chart-container">
    <article class="date-container">
      <div class="date-inicio-container dates">
        <label>Início:</label>
        <input (change)="verificarData()" [(ngModel)]="dataInicio" type="date">
      </div>

      <div class="date-fim-container dates">
        <label>Fim:</label>
        <input (change)="verificarData()" [(ngModel)]="dataFim" type="date">
      </div>

      <button [ngClass]="{'hoje-btn-on': chartRealTime}" (click)="atualizarData()" id="hoje-btn">Hoje</button>
    </article>

    <arf-chart [ngStyle]="{'align-self': filterData.departamentosSelecionados.length == 0 ? 'center' : 'flex-start' }"
      [chartRealTime]="chartRealTime" [filterData]="filterData" [componente]='componente'></arf-chart>
  </section>
</arf-dash-card>
