<arf-dash-card class="arf-dashboard-container">
  <!-- Title -->
  <section class="title-container">
    <img [src]="titleIcon" />
    <label>{{ componente }}</label>
  </section>

  <!-- Filters -->
  <arf-filters [componente]="componente"></arf-filters>


  <!-- Lista -->
  <arf-lista *ngIf="exibicao === 'listada'" [componente]='componente'></arf-lista>

  <!-- Chart -->
  <section *ngIf="exibicao === 'grafica'" class="chart-container">
    <article class="date-container">
      <div class="date-inicio-container">
        <label>Início:</label>
        <input #dateInicio type="date">
      </div>

      <div class="date-fim-container">
        <label>Fim:</label>
        <input #dateFim type="date">
      </div>

      <button (click)="atualizarData(dateInicio.value, dateInicio.value)" class="hoje-btn">HOJE</button>
    </article>

    <arf-chart [componente]='componente'></arf-chart>
  </section>
</arf-dash-card>
