$inner-gap: 3px;
$chart-width: 52%;

.dashboard {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #1e2044, #1e2044f5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: $inner-gap;
  padding: 7px;

  &-upper-row {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: $inner-gap;
    width: 100%;
    height: 45%;

    .dash-cards {
      height: 100%;
    }

    .arf-chart {
      width: $chart-width;
    }

    .arf-kpi {
      width: 100% - $chart-width;
    }
  }

  .arf-lista {
    min-width: 50%;
    height: 55%;
  }
}
