$inner-gap: 5px;
$outer-gap: $inner-gap + 2px;
$dash-charts-witdh: auto;

.dashboard {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #1e2044, #1e2044f5);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: $inner-gap;
  padding: $outer-gap;

  &-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: $inner-gap;
    width: $dash-charts-witdh;
    height: 100%;

    .dash-cards {
      width: 100%;
      height: 45%;
    }

    .arf-lista {
      height: 55%;
    }
  }

  .arf-kpi {
    height: 100%;
  }

}
