<ul class="upper-footer">
  <li>
    <h3>Por que Arfas</h3>
    <p>Serviços</p>
    <p>Vendas</p>
    <p>Preços</p>
    <p>integrações</p>
    <p>Clientes</p>
  </li>
  <li>
    <h3>Empresa</h3>
    <p>Liderança</p>
    <p>Parceiros</p>
    <p>Desenvolvedores</p>
    <p>Notícias e Imprensa</p>
    <p>Eventos</p>
    <p>Carreiras</p>
    <p>Sustentabilidade</p>
  </li>
  <li>
    <h3>Soluções</h3>
    <p>Comunicação, Mídia & Internet</p>
    <p>Serviços Financeiros e Seguro</p>
    <p>Governança e Educação</p>
    <p>Cuidado com a Saúde</p>
    <p>Bens Comuns</p>
    <p>Transporte e Hospitalidade</p>
    <p>Sustentabilidade</p>
  </li>
  <li>
    <h3>Produto</h3>
    <p>Demo do Produto</p>
    <p>Engajamento Multicanal</p>
    <p>Engajamento Laborial</p>
    <p>Análise de Experiência do Consumidor</p>
    <p>Performance dos Colaboradores</p>
  </li>
  <li>
    <h3>Recursos</h3>
    <p>Blog</p>
    <p>Blog de Engenharia</p>
    <p>Centro de Demo</p>
    <p>Arfas Talents</p>
    <p>Base de Conhecimento</p>
    <p>Arfas Academy</p>
    <p>Documentação de Desenvolvedor</p>
  </li>
</ul>

<!-- lower footer -->
<section class="lower-footer-container">
  <div class="lower-footer-left">
    <div class="icons-container">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>

    <p>© 2022 Arfas</p>
  </div>

  <div class="lower-footer-right">
    <div>
      <p>Termos de Serviço</p>
      <p>Termos de Uso</p>
      <p>Uso de Privacidade</p>
      <p>Política de Cookies</p>
      <p>Política de Informações de Segurança</p>
    </div>

    <p>Av. Paulista, 2100 - Bela Vista, São Paulo - SP, 01310-300</p>
  </div>
</section>