<table *ngIf="!chartUserOn; else chart">
  <tr class="head-rows">
    <th (click)="alternarOrdem('iconRef' + componente + i, userFilter)"
      *ngFor="let userFilter of userFilters; let i = index">
      <div *ngIf="i == 0; else genericFilter">
        <i class="dot-icon fa-solid fa-location-dot"></i>
        <i #filterIcons [ngStyle]="{'display': userFilter == 'Data' ? 'none' : 'block'}"
          [id]="'iconRef' + componente + i" [ngClass]="imgClass"></i>
      </div>
      <ng-template #genericFilter>
        <div>
          <label> {{ userFilter }} </label>
          <i #filterIcons [ngStyle]="{'display': userFilter == 'Data' ? 'none' : 'block'}"
            [id]="'iconRef' + componente + i" [ngClass]="imgClass"></i>
        </div>
      </ng-template>
    </th>
  </tr>
  <tr *ngFor="let userData of userDataFiltered" class="body-rows">
    <td (click)="userData.isPinned = !userData.isPinned; pesquisa()">
      <i class="pin-icon fa-solid fa-thumbtack"
        [ngClass]="{'pinned': userData.isPinned, 'notPinned': !userData.isPinned}">
      </i>
    </td>
    <td (click)="toggleChartUser(false, userData.id, userData.idComponente, userData.usuario)">
      {{ userData.id }}
    </td>
    <td (click)="toggleChartUser(false, userData.id, userData.idComponente, userData.usuario)"
      *ngIf="componente == 'HDD'">
      {{ userData.idComponente }}
    </td>
    <td (click)="toggleChartUser(false, userData.id, userData.idComponente, userData.usuario)">
      {{ userData.usuario }}
    </td>
    <td (click)="toggleChartUser(false, userData.id, userData.idComponente, userData.usuario)">
      {{ userData.departamento }}
    </td>
    <td (click)="toggleChartUser(false, userData.id, userData.idComponente, userData.usuario)">
      {{ userData.date }}
    </td>
    <td (click)="toggleChartUser(false, userData.id, userData.idComponente, userData.usuario)"
      [ngClass]="gerarStatus(userData.uso_relativo)">
      {{ (userData.uso_relativo).toFixed(1) + '%'}}
    </td>
    <td (click)="toggleChartUser(false, userData.id, userData.idComponente, userData.usuario)"
      *ngIf="componente == 'CPU'" [ngClass]="gerarStatus(userData.temperatura)">
      {{ (userData.temperatura).toFixed(1) + 'ºC' }}
    </td>
  </tr>

  <p class="text-centered" *ngIf="userDataFiltered.length == 0 && hasDepartamentosSelecionados">
    Nenhum item encontrado!
  </p>

  <p class="text-centered" *ngIf="!hasDepartamentosSelecionados && userDataFiltered.length == 0">
    Nenhum departamento selecionado!
  </p>
</table>

<ng-template #chart>
  <arf-chart [componente]="componente" [filterData]="filterData" [chartUserOn]="chartUserOn">
    <i (click)="toggleChartUser(false)" class="fa-solid fa-arrow-left"></i>
  </arf-chart>
</ng-template>
