<table>
  <tr class="head-rows">
    <th (click)="alternarOrdem('iconRef' + componente + i, userFilter)"
      *ngFor="let userFilter of userFilters; let i = index">
      <div>
        <label> {{ userFilter }} </label>
        <i #filterIcons [ngStyle]="{'display': userFilter == 'Data' ? 'none' : 'block'}"
          [id]="'iconRef' + componente + i" [ngClass]="[imgClass]"></i>
      </div>
    </th>
  </tr>
  <tr class="body-rows" *ngFor="let userData of userDataFiltered">
    <td>
      {{ userData.id }}
    </td>
    <td *ngIf="componente == 'HDD'">
      {{ userData.id_hd }}
    </td>
    <td>
      {{ userData.usuario }}
    </td>
    <td>
      {{ userData.departamento }}
    </td>
    <td>
      {{ userData.date }}
    </td>
    <td [ngClass]="gerarStatus(userData.uso_relativo)">
      {{ (userData.uso_relativo).toFixed(1) + '%'}}
    </td>
    <td *ngIf="componente == 'CPU'" [ngClass]="gerarStatus(userData.temperatura)">
      {{ (userData.temperatura).toFixed(1) + 'ºC' }}
    </td>
  </tr>

  <p class="text-centered" *ngIf="userDataFiltered.length == 0 && temDepartamentosSelecionados">
    Nenhum item encontrado!
  </p>

  <p class="text-centered" *ngIf="!temDepartamentosSelecionados">
    Nenhum departamento selecionado!
  </p>
</table>
