<table>
  <tr class="head-rows">
    <th (click)="filtrarLista('iconRef' + componente + i)" *ngFor="let userFilter of userFilters; let i = index">
      <div>
        <label> {{ userFilter }} </label>
        <i [id]="'iconRef' + componente + i" [ngClass]="[imgClass]"></i>
      </div>
    </th>
  </tr>
  <tr class="body-rows" *ngFor="let userData of usersData">
    <td>
      {{ userData.id }}
    </td>
    <td *ngIf="componente === 'HDD'">
      {{ userData.id_hd }}
    </td>
    <td>
      {{ userData.usuario }}
    </td>
    <td>
      {{ userData.departamento }}
    </td>
    <td>
      {{ userData.data }}
    </td>
    <td [ngClass]="{'redAlert': userData.uso_relativo >= 70}">
      {{ (userData.uso_relativo).toFixed(1) + '%'}}
    </td>
    <td [ngClass]="{'redAlert': userData.temperatura >= 70 ? 'red' : ''}">
      {{ (userData.temperatura).toFixed(1) + 'ºC' }}
    </td>
  </tr>
</table>
