:host {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

table {
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  // position: relative;
  border-collapse: collapse;

  th,
  td,
  label,
  i {
    cursor: pointer;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 1px;

  }

  .head-rows {
    border-top: none;
    border-bottom: none;

    th {
      background-color: #fff;
      top: 0;
      position: sticky;
      border: 1px solid #000;
      // border-top: 1px solid #000;
      // border-bottom: 1px solid #000;
    }
  }

  .body-rows:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.5);
  }

  th div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    min-width: 100%;
    height: 100%;
    column-gap: 3px;
    // border-top: 1px solid #000;
    // border-bottom: 1px solid #000;
    // border: 1px solid #000;
  }

  .body-rows:hover {
    filter: opacity(80%) contrast(200%);
    border: 1.3px solid #000;
  }
}

img {
  width: 20px;
}

i {
  font-size: 0.7rem;
}

.redAlert {
  background-color: red;
  font-weight: 700;
}

.yellowAlert {
  background-color: yellow;
  font-weight: 700;
}

.greenAlert {
  background-color: green;
  font-weight: 700;
}

.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
}
