<img class="logo" src="../../../../assets/imagens/logo1.png">
<p class="title">Arfas Oversight</p>
<img class="perfilft" src="https://ufmg.br/thumbor/x5Q4qSKv0hiAhUah-14bg2JgEUg=/0x0:873x586/712x474/https://ufmg.br/storage/0/8/e/3/08e37d5a879b5bda3c5f7c5a2bd56c9e_15725356159034_1003791973.jpeg">
<p>Bem-vindo,</p>
<span>Fulano</span>

    <ul>
        <li><img src="../../../../assets/imagens/navItem1 (2).png" alt=""> Dashboard</li>
        <li><img src="../../../../assets/imagens/navItem1 (1).png" alt=""> KPIs</li>
        <li><img src="../../../../assets/imagens/navItem1 (3).png" alt=""> Cadastro</li>
        <li><img src="../../../../assets/imagens/navItem1 (4).png" alt=""> Editar dados</li>
        <li><img src="../../../../assets/imagens/navItem1 (5).png" alt=""> Sair</li>
    </ul>
    <p>©Arfas Monitoria</p>
