* {
  display: flex;
  flex-direction: column;

}

:host {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  position: relative;
}

.logo {
  width: 38%;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #D4AD68;
  margin-bottom: 50px;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perfilft {
  width: 80px;
  height: 80px;
  border: 3px solid #1E2044;
  border-radius: 50%;
}

.username {
  margin-bottom: 50px;
}


p,
span {
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
}

p+span {
  color: #222672;
  font-weight: bold;
}

span+ul {
  mix-blend-mode: normal;
  align-items: left;
  text-align: left;
}

li {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  cursor: pointer;
}

li>img {
  width: 23px;
  height: 23px;
  margin-right: 7px;
}


a {
  text-decoration: none;
  color: black;
}

ul+p {
  font-size: 14px;
  color: gray;
}


.nav-items-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.copyright {
  position: absolute;
  bottom: 20px;
}
