*{
    display: flex;
    flex-direction: column;
    width: 177.297px;
}

.logo{
    width: 30%;
    margin: 20px auto 0;
}
.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    margin: auto;
    color: #D4AD68;

    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p,span{
    margin: auto;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
}
p + span{
    color: #222672;
    font-weight: bold;
}
span + ul{
    margin-top: 25%;
    mix-blend-mode: normal;
    align-items: center;
    align-items: flex-start;
    display: flex;
}
li{
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    width: 100%;
    cursor: pointer;
    padding: 15px 0 15px 10px;
    transition-duration: 0.3s;
}
li>img{
    width: 19px;
    margin-right: 15px;
}
.perfilft{
    width: 90px;
    height: 90px;
    border: 3px solid #1E2044;
    border-radius: 50%;
    margin: 20% auto 10px auto;
}
a{
    text-decoration: none;
    color: black;
}
ul + p{
    z-index: 1;
    position: fixed;
    bottom: 10px;
    width: 150px;
    font-size: 0.9rem;
    color:gray;
}
li:hover {
    background-color: var(--azul-safra);
    color: white;
    font-weight: 450;
    img{
        filter: invert(100%);
    }
}

