<img class="logo" src="../../../../assets/imagens/logo1.png">
<p class="title">Arfas Oversight</p>
<img class="perfilft" [src]="imgPath">
<p>Bem-vindo(a),</p>
<span class="username">{{username | titlecase}}</span>

<ul class="nav-items-container">
  <li [routerLink]="['/oversight/infra']"*ngIf="pagina == 'infra'"><img src="../../../../assets/imagens/navItem (1).png" alt="imagem"> Máquinas</li>
  <li [routerLink]="['/oversight/acessos']"*ngIf="pagina == 'acessos'"><img src="../../../../assets/imagens/navItem (1).png" alt="imagem"> Acessos</li>
  <li [routerLink]="['/oversight/dashboard']"*ngIf="pagina == 'dashboard'"><img src="../../../../assets/imagens/navItem (1).png" alt="imagem"> Dashboard</li>
  <li [routerLink]="['/oversight/alertas']" *ngIf="pagina == 'dashboard'"><img src="../../../../assets/imagens/navItem (3).png" alt="imagem"> Alertas</li>
  <li [routerLink]="['/oversight/alterar-dados']" ><img src="../../../../assets/imagens/navItem (4).png" alt="imagem"> Editar dados</li>
  <a (click)="limparStorage()" [routerLink]="['/']">
    <li><img src="assets/imagens/navItem (1).png" alt="imagem"> Sair</li>
  </a>
</ul>
<p class="copyright">©Arfas Monitoria</p>
