* {
  display: flex;
  flex-direction: column;

}

:host {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.logo {
  width: 38%;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #D4AD68;
  margin-bottom: 50px;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perfilft {
  width: 80px;
  height: 80px;
  border: 3px solid #1E2044;
  border-radius: 50%;
}

.username {
  margin-bottom: 40px;
}


p,
span {
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
}

p+span {
  color: #222672;
  font-weight: bold;
}

span+ul {
  mix-blend-mode: normal;
  align-items: left;
  text-align: left;
}

li {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

li>img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}


a {
  text-decoration: none;
  color: black;
}

ul+p {
  font-size: 1.2rem;
  color: gray;
}


.nav-items-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.copyright {
  position: absolute;
  bottom: 20px;
  font-size: .8rem !important;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  padding: 20px 100px;

  &__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    button {
      background: #1E2044;
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      color: #fff;
      padding: 15px 30px;
      font-size: .95rem;
    }
  }
}

.nav-items-container {
  font-size: 1.1rem;
  width: 100%;
  row-gap: 15px;

  li {
    padding: 10px 0 10px 35px;
    width: 100%;
  }

  img {
    width: 23px;
  }
}

.rotaAtual {
  background-color: #1E2044;
  color: #fff;

  img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(107%) contrast(101%);
  }
}
