<article class="contato-text">
  <h1>Nos ajude a melhorar por meio do seu feedback!</h1>
  <p>
    Entre em contato conosco por meio de um E-mail preenchendo o formulário.
  </p>
</article>

<!-- Formulário -->
<form class="form">
  <ul>
    <li>
      <input type="text" id="in_nome" placeholder="Nome Completo" class="campos" />
    </li>
    <li>
      <input type="text" id="in_email" placeholder="E-mail" class="campos" />
    </li>
    <li>
      <input type="text" id="in_telefone" maxlength="11" placeholder="Telefone" class="campos" />
    </li>
    <li>
      <select id="in_assunto" placeholder="Assunto" class="campos">
        <option value="Sugestão">Sugestão</option>
        <option value="Reclamação">Reclamação</option>
        <option value="Suporte">Suporte</option>
        <option value="Dúvida">Dúvida</option>
        <option value="Outro">Outro</option>
      </select>
    </li>
    <li>
      <textarea id="in_mensagem" maxlength="1000" placeholder="Mensagem" style="resize: none" name="" id="in_mensagem"
        class="campos" cols="40" rows="8"></textarea>
    </li>
  </ul>

  <p>
    Ao se registrar, você concorda com o processamento de seus dados
    pessoais pela Arfas Monitoria conforme descrito em nosso Aviso de
    Privacidade.
  </p>

  <button type="submit">Enviar</button>
</form>