<ul>
  <li>
    <div class="bar"></div>
    <img src="assets/imagens/Telecommuting-pana.svg" alt="imagem" />

    <div class="sobre-text-container">
      <h2>Aumento da Produtividade</h2>
      <p>
        A precisão e confiabilidade do <b class="arfas-oversight">Arfas Oversight</b> permite aos analistas
        anteciparem possíveis lentidões e falhas gerais dos
        dispositivos, garatindo aos usuários menos tempo de inatividade.
      </p>
    </div>
  </li>
  <li>
    <div class="sobre-text-container">
      <h2>Dados úteis e abrangentes</h2>
      <p>
        O <b class="arfas-oversight">Arfas Oversight</b>, através da coleta de dados dos dispositivos, provê aos
        analistas
        <i>analytics</i> úteis e dados brutos abrangentes, possibilitando uma ampla análise dos processos
        operacionais.
      </p>
    </div>

    <img src="assets/imagens/Site Stats-amico.svg" alt="imagem" />
    <div class="bar"></div>
  </li>
  <li>
    <img src="assets/imagens/Customer relationship management-bro.png" alt="imagem" />

    <div class="sobre-text-container">
      <h2>Influência no cliente final</h2>
      <p>
        Com o <b class="arfas-oversight">Arfas Oversight</b> os colaboradores conseguem prestar melhores serviços e
        com maior qualidade, tanto direta quanto indiretamente, aos nossos clientes finais, agregando valor ao
        negócio.
      </p>
    </div>
  </li>
</ul>