<!-- Canvas Container -->
<div class="canvas-container">
  <div class="canvas">
    <!-- Chart -->
    <canvas *ngIf="filterData.departamentosSelecionados.length > 0 && (qtdComponentesSelecionados > 0 || chartRealTime)"
      baseChart [data]="chartData" [options]="chartOptions" [type]="chartType">
    </canvas>
  </div>

  <label class="chart-disclaimer" *ngIf="filterData.departamentosSelecionados.length == 0">
    Nenhum departamento selecionado
  </label>

  <label class="chart-disclaimer" *ngIf="qtdComponentesSelecionados == 0 && !chartRealTime
    && filterData.departamentosSelecionados.length != 0">
    Nenhum componente selecionado
  </label>
</div>
