<!-- Legend -->
<ul *ngIf="chartType == 'line' || !chartUserOn" class="chart-legends">
  <li *ngFor="let dep of filterData.departamentosSelecionados; let i = index" class="legends">
    <span [ngStyle]="{'background-color': dep.cor}" class="legends-box"></span>
    <label class="legends-label">{{dep.nome}}</label>
  </li>
</ul>

<!-- Canvas Container -->
<div class="canvas-container" [ngClass]="{'chartUserOn': chartUserOn}">

  <!-- Date -->
  <arf-date-inputs [ngStyle]="{'padding-bottom': card != 'CPU' ? '20px' : '0'}"
    (chartStateEmitter)="chartRealTime = $event" class="date-inputs" *ngIf="chartUserOn">
  </arf-date-inputs>

  <!-- Chart -->
  <canvas *ngIf="filterData.departamentosSelecionados.length != 0" baseChart [data]="chartData" [options]="chartOptions"
    [type]="chartType">
  </canvas>

  <label class="departamentoDisclaimer" *ngIf="filterData.departamentosSelecionados.length == 0 && !chartUserOn">
    Nenhum departamento selecionado
  </label>
</div>
