.arf-table-lista {
  overflow: auto;
  width: 100%;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--azul-safra);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--azul-safra);
}

.spin-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
}
