<arf-dash-card class="arf-dash-card">
  <!-- Title -->
  <section class="title-container">
    <img [src]="titleIcon" />
    <label>{{ componente }}</label>
  </section>

  <!-- Filters -->
  <arf-filters *ngIf="!showChartUser" class="arf-filters" [componente]="componente"></arf-filters>

  <!-- Lista -->
  <arf-lista (emitUserChart)="showChartUser = $event" [filterData]="filterData" *ngIf="exibicao === 'listada'"
    [componente]='componente'></arf-lista>

  <!-- Chart -->
  <section *ngIf="exibicao === 'grafica'" class="chart-container">
    <arf-date-inputs (chartStateEmitter)="chartRealTime = $event.chartRealTime">
    </arf-date-inputs>

    <arf-chart [ngStyle]="{'align-self': filterData.departamentosSelecionados.length == 0 ? 'center' : 'flex-start' }"
      [filterData]="filterData" [componente]='componente'>
    </arf-chart>
  </section>
</arf-dash-card>
