.infra {
  ::ng-deep {
    .arf-dash-card {
      border-radius: 0;
      box-shadow: none;
      overflow: auto;
      padding: 0;
      display: flex;
      flex-direction: column;

      .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 5px 0 20px;

        img {
          width: 30px;
          width: 30px;
        }

        label {
          font-size: 1.5rem;
          font-weight: 900;
          letter-spacing: 2px;
        }
      }
    }
  }


  &__table-container {
    height: 80%;
    width: 100%;
    overflow: auto;
  }

  &__table {
    text-align: center;
    height: 50%;
    font-size: 0.9rem;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: 1px solid #ddd;
      padding: 5px;
      letter-spacing: .5px;
    }

    td {
      padding: 10px 5px;
    }
  }

  &__head-rows {
    background: #1e2044;
    position: sticky;
    top: 0;
    z-index: 999;

    th {
      color: #d4ad68;
      padding: 5px;
    }

  }

  &__body-rows:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.5);
  }

  &__body-rows {

    td {
      width: fit-content;

      div {
        display: flex;
        column-gap: 5px;
        align-items: center;
        justify-content: space-evenly;

        label {
          width: fit-content;
        }

        input {
          max-width: 100px;
        }
      }
    }
  }

  &__inputs,
  &__inputs__cpu div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inputs__cpu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__inputs__hdd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  input,
  select {
    text-align: center;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 400;
  }


  &__btn-container {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13%;
    border-top: 2px solid #d4ad68;
    border-radius: 2px;
    background: linear-gradient(to right, #212121, #212121fd);
    column-gap: 25px;
  }

  button {
    background: #1E2044;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff;
    padding: 10px 45px;
    font-size: .95rem;
  }

  button:disabled {
    background: rgba(93, 95, 156, 0.7) !important;
  }
}
