.chart-legends {
  position: absolute;
  top: 7px;
  left: 5px;
  max-height: 37%;
  max-width: 120px;
  word-wrap: break-word;
  overflow: auto;
  z-index: 99;

  .legends {
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 2px;
    overflow: auto;
    margin-bottom: 3px;

    &-box {
      width: 10px;
      height: 10px;
    }

    &-label {
      font-size: .8rem;
    }
  }

}
