<section>
    <article>
        <h1><img src="assets/icones/pen-to-square-solid.svg"> Alterar dados</h1>
        <div class="form">
            <div class="labels">
                <label for="">Nova senha</label>
                <label for="">Confirme sua nova senha</label>
                <label for="">Nova imagem de perfil:</label>
            </div>
            <div class="inputs">
                <input class="inpt" type="password">
                <input class="inpt" type="password">
                <input type="file" class="fupload form-control" >
            </div>
        </div>
        <span class="error">{{error}}</span>
        <button class="alterardados">
            Confirmar
        </button>
    </article>
</section>