<!-- Title -->
<section class="title-container">
  <img [src]="titleIcon" />
  <h2>{{ title }}</h2>
</section>

<!-- Filters -->
<ul class="filters-container">
  <li>
    <label>Exibição</label>
    <select
      [(ngModel)]="exibicao"
      (change)="filtrarDashboard($event)"
      id="in_exibicao"
    >
      <option value="grafica">Gráfica</option>
      <option value="listada">Listada</option>
    </select>
  </li>
  <li>
    <label>Departamento</label>
    <!-- select of checkboxes -->
    <select
      (change)="filtrarDashboard($event)"
      *ngFor="let departamento of departamentos"
      id="in_departamento"
    >
      <option [value]="departamento">{{ departamento }}</option>
    </select>
  </li>
  <li *ngIf="exibicao === 'grafica'">
    <label>Métrica</label>
    <select (change)="filtrarDashboard($event)" id="in_metrica">
      <option value="uso_relativo">Uso Relativo</option>
      <option value="temperatura">Temperatura</option>
    </select>
  </li>
  <li *ngIf="exibicao === 'listada'">
    <label>Data</label>
    <input type="date" id="in_data" (change)="filtrarDashboard($event)" />
  </li>
  <li *ngIf="exibicao === 'listada'">
    <label>Pesquisa</label>
    <input (keydown)="filtrarDashboard($event)" type="text" />
  </li>
</ul>

<!-- Lista -->
<section *ngIf="exibicao === 'listada'" class="lista-container">
  <ul *ngFor="let option ">
    <li>
      <label for="">ID</label>
      <img (click)="alternarOrdem()" [src]="orderImgPath" alt="vish ">
    </li>
  </ul>

</section>
