$inner-gap: 3px;

.oversight-page {
  width: 100vw;
  height: 100vh;
  display: flex;

  .oversight-navbar {
    width: 16%;
    height: 100vh;
    background-color: #EDEDED;
  }

  .dashboards-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #1e2044, #1e2044f5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: $inner-gap;
    padding: 7px;

    .dash-rows {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: $inner-gap;
      width: 100%;
      height: 50%;

      .dash-cards {
        height: 100%;
        width: 100%;
      }
    }
  }
}