$inner-gap: 3px;

.arf-kpi-dash {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 5px 0.5px;
  gap: 10px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #000;
  border: 2px solid #000;
}

.oversight-page {
  width: 100vw;
  height: 100vh;
  display: flex;

  .oversight-navbar {
    width: 16%;
    height: 100vh;
    background-color: #EDEDED;
  }

  .dashboards-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #1e2044, #1e2044f5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: $inner-gap;
    padding: 7px;

    .arf-dashboard {
      height: 100%;
      width: 100%;
    }

    // .alertas-container {
    //   height: 19%;
    //   width: 100%;
    //   background-color: #121212;
    //   border-bottom: 3px solid #d4ad68;
    // }

    .first-row,
    .second-row {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: $inner-gap;
      width: 100%;
      height: 50%;
    }
  }
}
