.oversight-page {
  width: 100vw;
  height: 100vh;
  display: flex;

  .oversight-navbar {
    width: 15%;
    height: 100vh;
    background-color: #EDEDED;
  }

  .outlet {
    background-color: #1e2044;
    width: 85%;
  }
}
